<section class="before-after">
    <div class="row column">
        <div class="slick">
            {% for slide in SP.ACF.get_sub_field('images') %}
                <img src="{{ slide.before.sizes.beforeafter }}" alt="">
                <img src="{{ slide.after.sizes.beforeafter }}" alt="">
            {% endfor %}
        </div>
    </div>
</section>