<section class="title-section">
    <div class="row">
        <div class="{% if SP.ACF.get_sub_field('icon') %}large-4 medium-5{% else %}large-2 medium-4{% endif %} columns">
            <div class="icon-title">
                {% if SP.ACF.get_sub_field('icon') %}
                    <img src="{{ SP.ACF.get_sub_field('icon').url }}" alt="" />
                {% endif %}
                <h2><small>{{ SP.ACF.get_sub_field('small_heading') }}</small> {{ SP.ACF.get_sub_field('large_heading') }}</h2>
            </div>
        </div>
        <div class="{% if SP.ACF.get_sub_field('icon') %}large-8 medium-7{% else %}large-10 medium-8{% endif %} columns">
            <div class="content">
                {{ SP.ACF.get_sub_field('content') }}
            </div>
        </div>
    </div>
</section>
