@import "settings";
@import "font-awesome";
@import "foundation";
@include foundation-everything();
@import "supertheme";

// layout
@import "layout/footer";
@import "layout/header";
@import "layout/lightbox";

// modules
@import "modules/before-after";
@import "modules/call-to-action";
@import "modules/content";
@import "modules/hero-header";
@import "modules/icon-columns";
@import "modules/image-tabs";
@import "modules/partners";
@import "modules/reviews-slider";
@import "modules/table";
@import "modules/title-section";

// classes
h2 {
  text-transform: uppercase;
  font-weight: bold;
  small {
    color: $primary-dark-color;
    font-style: italic;
    display: block;
    margin-bottom: rem-calc(8px);
    padding-top: rem-calc(30px);
    text-transform: none;
  }
}

.slick-slide {
  height: auto;
}
