@import "settings";
@import "font-awesome";
@import "foundation";
@include foundation-everything();
@import "supertheme";

// layout
@import "layout/footer";
@import "layout/header";
@import "layout/lightbox";

// modules
@import "modules/before-after";
@import "modules/call-to-action";
@import "modules/content";
@import "modules/hero-header";
@import "modules/icon-columns";
@import "modules/image-tabs";
@import "modules/partners";
@import "modules/reviews-slider";
@import "modules/table";
@import "modules/title-section";

// classes
h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  small {
    color: $primary-dark-color;
    font-style: italic;
    font-weight: normal;
    display: block;
    margin-bottom: rem-calc(8px);
    padding-top: rem-calc(30px);
    text-transform: none;
  }
}

.slick-slide {
  position: relative;
  width: 92%;
  margin: 0 auto;
}

.icon-title {
  margin-bottom: rem-calc(30px);
  img {
    float: left;
    margin-right: rem-calc(10px);
  }
}
ul.menu {
  position: relative;
  li a {
    padding: 0 0 rem-calc(15px) rem-calc(25px);
    font-size: rem-calc(18px);
    &:before {
      content: "\f105";
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      font-size: rem-calc(25px);
      color: $primary-dark-color;
      line-height: .8rem;
      position: absolute;
      left: rem-calc(9px);
    }
    &:hover {
      text-decoration: none;
    }
  }
}
