{% extends 'base.html.twig' %}
{% block content %}
    <div class="page-content">
        {% for content in flexible_content %}
            {{ content }}
        {% endfor %}
    </div>
{% endblock %}