// ready to schedule row in home page
.call-to-action {
  background-color: $secondary-color;
  padding: rem-calc(60px) rem-calc(40px);
  .row {
    position: relative;
  }
  .heading {
    padding-bottom: rem-calc(20px);
    text-transform: uppercase;
    position: relative;
    float: left;
    clear: right;
    color: $secondary-light-color;
    @include breakpoint(medium) {
      position: absolute;
      left: 0;
      width: 50%;
    }
    @include breakpoint(large) {
      width: 100%;
      padding-top: rem-calc(20px);
    }
  }
  .button {
    float: right;
    margin-bottom: 0;
    &:hover {
      text-decoration: none;
    }
  }
}
