// ready to schedule row in home page
.call-to-action {
  background-color: $secondary-color;
  padding: rem-calc(60px) rem-calc(40px);
  text-align: center;
  @include breakpoint(large) {
    text-align: left;
  }
  .row {
    position: relative;
    vertical-align: middle;
  }
  .heading {
    padding-bottom: rem-calc(20px);
    line-height: 70px;
    text-transform: uppercase;
    position: relative;
    color: $secondary-light-color;
    font-size: rem-calc(26px);
    @include breakpoint(large) {
      display: inline-block;
      padding-right: rem-calc(15px);
      padding-bottom: 0;
    }
  }
  .action {
    @include breakpoint(large) {
      display: inline-block;
      float: right;
    }
  }
  .button {
    margin-bottom: 0;
    &:hover {
      text-decoration: none;
    }
  }
}
