// page headers
.hero-header {
  color: $primary-light-color;
  background-repeat: no-repeat;
  background-size: cover;
  &.small{
    padding: rem-calc(60px);
  }
  &.large {
    padding: rem-calc(170px) 0;
    a {
      font-size: rem-calc(15px);
      &:hover {
        text-decoration: none;
      }
    }
  }
}
