// page headers
.hero-header {
  color: $hero-header-color;
  background-repeat: no-repeat;
  background-size: cover;
  h1 {
    font-family: $large-header-font-family;
  }
  &.small{
    padding: rem-calc(60px);
  }
  &.large {
    padding: rem-calc(180px) 0;
    h1 {
      font-size: rem-calc(60px);
      text-transform: none;
    }
    a {
      font-size: rem-calc(15px);
      &:hover {
        text-decoration: none;
      }
    }
  }
  .button {
    margin-bottom: 0;
    padding: rem-calc(20px) rem-calc(40px);
  }
}
