// page headers
.hero-header {
  color: $hero-header-color;
  background-repeat: no-repeat;
  background-size: cover;
  & h1, p {
    font-family: $large-header-font-family;
  }
  &.small{
    padding: rem-calc(60px);
  }
  &.large {
    padding: rem-calc(180px) 0;
    a {
      font-size: rem-calc(15px);
      &:hover {
        text-decoration: none;
      }
    }
  }
}
