// we work with ppo providers section
.partners {
  background: $primary-light-color;
  padding: rem-calc(75px) rem-calc(40px) rem-calc(90px) rem-calc(40px);
  p {
    color: $secondary-color;
    margin-bottom: rem-calc(45px);
  }
  .slick-slider {
    width: 92%;
    .slick-slide {
      height: auto;
      margin: 0 rem-calc(25px);
    }
  }
}
