// we work with ppo providers section
.partners {
  background: $primary-light-color;
  padding: rem-calc(75px) 0 rem-calc(90px) 0;
  p {
    color: $secondary-color;
    margin-bottom: rem-calc(45px);
  }
  .partners-slider-wrapper {
    @include breakpoint(small only){
      padding: 0 1rem;
    }
  }
  .slick-slider {
    width: 92%;
    .slick-slide {
      height: auto;
      margin: 0 rem-calc(25px);
    }
  }
}
