// yelp section on home page
.reviews-slider {
  .slide {
    padding: rem-calc(65px) 0 rem-calc(95px) 0;
    background-size: cover;
    position: relative;
  }
  .background {
    max-width: none;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .content {
    position: relative;
  }
  .logo {
    margin: 0 auto rem-calc(15px) auto;
    @include breakpoint(small only) {
      display: none;
    }
  }
  blockquote {
    border-left: none;
    text-align: center;
    p {
      color: $secondary-light-color;
      font-family: serif;
      font-style: italic;
      font-size: rem-calc(20px);
      &::before {
        content: "";
        width: rem-calc(42px);
        height: rem-calc(31px);
        background-image: url("../images/left-quotation.png");
        margin-right: rem-calc(15px);
        position:relative;
        display:inline-block;
        vertical-align:top;
      }
      &::after {
        content: "";
        width: rem-calc(42px);
        height: rem-calc(31px);
        background-image: url("../images/right-quotation.png");
        margin-left: rem-calc(15px);
        position:relative;
        display:inline-block;
        vertical-align:top;
        @include breakpoint(small only) {
          display: none;
        }
      }
      @include breakpoint(large) {
        font-size: rem-calc(26px);
      }
    }
  }
  cite {
    text-align: center;
    color: $primary-dark-color;
    font-size: rem-calc(21px);
    &:before {
      content: '\007E';
      margin-right: rem-calc(4px);
    }
  }
  .slick-dotted.slick-slider {
    margin-bottom: rem-calc(12px);
  }
  .sick-arrow {
    display: none;
  }
  .slick-dots {
    bottom: rem-calc(56px);
    display: block;
    text-align: center;
    padding: 0;
    width: 100%;

    li {
      position: relative;
      display: inline-block;
      width: rem-calc(32px);
      height: rem-calc(8px);
      margin: 0 rem-calc(5px);
      padding: 0;
      cursor: pointer;
    }

    li button {
      border: 0;
      background: transparent;
      display: block;
      width: rem-calc(32px);
      height: rem-calc(8px);
      outline: none;
      line-height: 0;
      font-size: 0;
      color: transparent;
      padding: rem-calc(5px);
      cursor: pointer;
    }

    li button:hover:before,
    li button:focus:before {
      opacity: .6;
    }

    li button:before {
      position: absolute;
      top: 0;
      left: 0;
      width: rem-calc(32px);
      height: rem-calc(8px);
      font-size: 0;
      text-align: center;
      background-color: $white;
      opacity: 0.25;
    }

    li.slick-active button:before {
      color: $white;
      opacity: 1;
    }

    li.alick-active button:hover:before {
      opacity: 1;
    }
  }
}
