// why choose us section in home page
.comparison-table {
  padding: rem-calc(40px);
  background: $why-choose-us-color;
  h2 {
    margin-bottom: rem-calc(40px);
  }
  table {
    border: 1px $secondary-dark-color solid;
    text-align: center;
  }
  th {
    background-color: $primary-dark-color;
    color: $primary-light-color;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    padding: rem-calc(15px);
    font-weight: normal;
    font-size: rem-calc(26px);
    &:nth-child(2) {
      padding-right: rem-calc(40px);
    }
    &:nth-child(3) {
      background-color: $secondary-dark-color;
      font-weight: bold;
      padding-left: rem-calc(50px);
      font-size: rem-calc(30px);
    }
    .vs {
      color: $secondary-dark-color;
      font-family: serif;
      font-size: rem-calc(30px);
      height: rem-calc(100px);
      width: rem-calc(100px);
      text-align: center;
      border-radius: 50%;
      border: 2px $secondary-color solid;
      background: $white;
      padding-top: rem-calc(30px);
      position: absolute;
      right: rem-calc(-52px);
      top: rem-calc(-(20px));
      z-index: 10;
    }
  }
  tr {
    font-size: rem-calc(24px);
    td {
      padding: rem-calc(16px);
    }
    td:nth-child(1) {
      border-right: 1px $secondary-color solid;
    }
    td:nth-child(2) > i {
      color: $primary-dark-color;
    }
    td:nth-child(3) {
      text-align: left;
      border-left: 1px $secondary-color solid;
      font-size: rem-calc(18px);
      @include breakpoint(medium) {
        width: rem-calc(430px);
      }
      i {
        color: #ed1c24;
        margin-right: rem-calc(5px);
      }
    }
  }
}
