// why choose us section in home page
.comparison-table {
  padding: rem-calc(40px) 0;
  background: $why-choose-us-color;
  h2 {
    margin-bottom: rem-calc(40px);
  }
  table {
    text-align: center;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.75);
    border-collapse: collapse;
    border-spacing: 0;
    border-width: 0;
    outline: none;
    font-size: rem-calc(16px);
    @include breakpoint(medium) {
      font-size: rem-calc(24px);
    }
  }
  th {
    background-color: $primary-dark-color;
    color: $primary-light-color;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    padding: rem-calc(15px);
    font-weight: normal;
    font-size: rem-calc(16px);
    &:nth-child(2) {
      @include breakpoint(medium) {
        padding-right: rem-calc(40px);
      }
    }
    &:nth-child(3) {
      background-color: $secondary-dark-color;
      font-weight: bold;
      @include breakpoint(medium) {
        padding-left: rem-calc(50px);
        font-size: rem-calc(30px);
      }
    }
    @include breakpoint(medium) {
      font-size: rem-calc(26px);
    }
    .vs {
      color: $secondary-dark-color;
      font-family: serif;
      font-size: rem-calc(30px);
      height: rem-calc(100px);
      width: rem-calc(100px);
      text-align: center;
      border-radius: 50%;
      border: 2px $secondary-color solid;
      background: $white;
      padding-top: rem-calc(30px);
      position: absolute;
      right: rem-calc(-52px);
      top: rem-calc(-(20px));
      z-index: 10;
      @include breakpoint(small only){
        display: none;
      }
    }
  }
  tr {
    td {
      padding: rem-calc(16px);
    }
    td:nth-child(1) {
      border-right: 1px $secondary-color solid;
      text-align: left;
    }
    td:nth-child(2) > i {
      color: $primary-dark-color;
    }
    td:nth-child(3) {
      position: relative;
      border-left: 1px $secondary-color solid;
      font-size: rem-calc(18px);
      @include breakpoint(small only) {
        font-size: 0;
      }
      @include breakpoint(medium) {
        text-align: left;
        width: rem-calc(430px);
      }
      i.fa {
        color: #ed1c24;
        margin-right: rem-calc(5px);
        font-size: rem-calc(36px);
        @include breakpoint(medium) {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
        }
      }
      .content {
        padding-left: rem-calc(40px);
      }
    }
    i.fa {
      font-size: rem-calc(36px);
    }
  }
}
