.member.info {
  > a {
    position: relative;
    display: block;
    margin-bottom: .5rem;
    &:hover::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      background-color: rgba($primary-color, 0.5);
      z-index: 1;
    }
  }
  img {
    max-width: none;
    width: 100%;
  }
  h3 {
    color: $primary-color;
    margin-bottom: rem-calc(4px);
    font-size: rem-calc(26px);
  }
  h6 {
    font-size: rem-calc(20px);
    color: $dark-gray;
    font-family: $body-font-family;
    text-transform: none;
  }
  p {
    font-size: rem-calc(18px);
    color: #636466;
  }
  p.green {
    margin-bottom: .25rem;
  }
}
.team-members {
  .heading h2 {
    margin: rem-calc(40px) 0;
    text-transform: uppercase;
  }
  .close {
    display: block;
    position: absolute;
    background-image: url("../images/close.png");
    background-repeat: no-repeat;
    background-size:contain;
    height: rem-calc(30px);
    width: rem-calc(30px);
    top: rem-calc(25px);
    right: rem-calc(25px);
    &:hover {
      opacity: 0.8;
      transition: .25s;
    }
  }
  .member-details {
    background-color: $primary-light-color;
    position: relative;
    margin: 2.5rem 0;
    font-size: rem-calc(16px);
    h2 {
      color: $primary-color;
      font-family: $body-font-family;
      font-size: rem-calc(25px);
    }
    .professional {
      margin-bottom: rem-calc(60px);
    }
    .member {
      position: relative;
      display: none;
      padding: rem-calc(60px) 0;
      &::before {
        content: "";
        width: 0;
        height: 0;
        border-left: 2.5rem solid transparent;
        border-right: 2.5rem solid transparent;
        border-bottom: 2.5rem solid $primary-light-color;
        position: absolute;
        top: -2.5rem;
      }
      &:nth-child(3n+1)::before {
        left: calc(33%/2 - 2.5rem/2 - 20px);// 1/2 widthof column - 1/2 of border - gutter
      }
      &:nth-child(3n+2)::before {
        left: calc(50% - 2.5rem/2 - 20px);
      }
      &:nth-child(3n+3)::before {
        right: calc(15% - 2.5rem/2 - 20px);
      }
    }
  }
}
.member.reveal {
  position: relative;
  font-size: rem-calc(16px);
  .alignleft, .alignright {
    float: none;
    display: block;
  }
  .close {
    display: block;
    position: absolute;
    background-image: url("../images/close.png");
    background-repeat: no-repeat;
    background-size:contain;
    height: rem-calc(30px);
    width: rem-calc(30px);
    top: rem-calc(25px);
    right: rem-calc(25px);
    &:hover {
      opacity: 0.8;
      transition: .25s;
    }
  }
}